In [214]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split,
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import (
mean_absolute_error, r2_score, mean_squared_error)

In [215]:
path = r'C:\Users\Jchukwuedozi\Documents\data science\datasets'

In [216]:
df = pd.read_csv(os.path.join(path, 'energydata_complete.csv'))

In [217]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [155]:
df.shape

(19735, 29)

In [218]:
not_needed = ['lights', 'date']

In [219]:
data = df.drop(not_needed, axis=1)

In [220]:
data.shape

(19735, 27)

In [221]:
y = data.iloc[:, 0]

In [222]:
y.shape

(19735,)

In [223]:
X = data.iloc[:, 1:]

In [224]:
data.shape

(19735, 27)

In [225]:
pd.set_option('display.max_columns', None)
data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [226]:
data['T6'].head()

0    7.026667
1    6.833333
2    6.560000
3    6.433333
4    6.366667
Name: T6, dtype: float64

In [227]:
data['T6'].shape

(19735,)

In [162]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19735 non-null  int64
 1   T1           19735 non-null  float64
 2   RH_1         19735 non-null  float64
 3   T2           19735 non-null  float64
 4   RH_2         19735 non-null  float64
 5   T3           19735 non-null  float64
 6   RH_3         19735 non-null  float64
 7   T4           19735 non-null  float64
 8   RH_4         19735 non-null  float64
 9   T5           19735 non-null  float64
 10  RH_5         19735 non-null  float64
 11  T6           19735 non-null  float64
 12  RH_6         19735 non-null  float64
 13  T7           19735 non-null  float64
 14  RH_7         19735 non-null  float64
 15  T8           19735 non-null  float64
 16  RH_8         19735 non-null  float64
 17  T9           19735 non-null  float64
 18  RH_9         19735 non-null  float64
 19  T_out        19735 non-null  float64
 20  Press_mm_hg  19735 non-null  float64
 21  RH_out       19735 non-null  float64
 22  Windspeed    19735 non-null  float64
 23  Visibility   19735 non-null  float64
 24  Tdewpoint    19735 non-null  float64
 25  rv1          19735 non-null  float64
 26  rv2          19735 non-null  float64
dtypes: float64(26), int64(1)
memory usage: 4.1 MB

In [163]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [167]:
scaler = MinMaxScaler().fit(X_train)
X_train_transform = scaler.transform(X_train)
X_test_transform = scaler.transform(X_test)
lin_reg = LinearRegression()
lasso = Lasso()
ridge = Ridge()

lin_reg.fit(X_train_transform, y_train)
pred_X = lin_reg.predict(X_test_transform)

lasso.fit(X_train_transform, y_train)
las_pred = lasso.predict(X_test_transform)

ridge.fit(X_train_transform, y_train)
ridge_pred = ridge.predict(X_test_transform)

print(f'linear_regression \n MAE: {mean_absolute_error(y_test, pred_X)}, MSE: {mean_squared_error(y_test, pred_X)}, r2_score: {r2_score(y_test, pred_X)}')
print()
print(f'lasso_regression \n MAE: {mean_absolute_error(y_test, las_pred)}, MSE: {mean_squared_error(y_test, las_pred)}, r2_score: {r2_score(y_test, las_pred)}') 
print()
print(f'ridge_regression \n MAE: {mean_absolute_error(y_test, ridge_pred)}, MSE: {mean_squared_error(y_test, ridge_pred)}, r2_score: {r2_score(y_test, ridge_pred)}')

linear_regression
 MAE: 53.642977655849585, MSE: 8768.535925051974, r2_score: 0.14890246319303535

lasso_regression
 MAE: 58.35378809617967, MSE: 9885.177297509315, r2_score: 0.040518266593013164

ridge_regression
 MAE: 53.57240487311825, MSE: 8781.334470097821, r2_score: 0.1476602021980028

In [172]:
scaler = MinMaxScaler().fit(X_train)
X_train_transform = scaler.transform(X_train)
X_test_transform = scaler.transform(X_test)
lin_reg = LinearRegression()

lin_reg.fit(X_train_transform, y_train)
pred_X = lin_reg.predict(X_test_transform)
mean_absolute_error(y_test, pred_X)

53.642977655849585

In [173]:
scaler = MinMaxScaler().fit(X_train)
X_train_transform = scaler.transform(X_train)
X_test_transform = scaler.transform(X_test)
lin_reg = LinearRegression()

lin_reg.fit(X_train_transform, y_train)
pred_X = lin_reg.predict(X_test_transform)
mean_absolute_error(y_test, pred_X)

53.642977655849585

In [202]:
X = np.array(data['T2']).reshape(-1, 1)
y = data['T6']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
lin_reg = Lasso().fit(X_train, y_train)
# score = lin_reg.score(X_train, y_train)
# print(lin_reg.coef_)
X_pred = lin_reg.predict(X_test)
r2_score = r2_score(y_test, X_pred)
MAE = mean_absolute_error(y_test, X_pred)
MSE = mean_squared_error(y_test, X_pred)
RMSE = np.sqrt(MSE)
print(f'r2_score: {r2_score}, MAE: {MAE}, MSE: {MSE}, RMSE: {RMSE}')

r2_score: 0.6372233049763159, MAE: 2.8551186489155764, MSE: 13.384156470851112, RMSE: 3.6584363423259276

In [188]:
a = np.array(X_train).reshape(-1, 1)

In [189]:
a

array([[17.79 , 18.7  , 16.89 , ..., 18.2  , 20.434, 19.89 ]])

In [ ]:
RMSE: 3.6303151296804446            RMSE: 3.6584363423259276

In [213]:
X = np.array(data['T2']).reshape(-1, 1)
y = data['T6']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
lin_reg = LinearRegression().fit(X_train, y_train)
# score = lin_reg.score(X_train, y_train)
# print(lin_reg.coef_)
X_pred = lin_reg.predict(X_test)
r2_score = r2_score(y_test, X_pred)
MAE = mean_absolute_error(y_test, X_pred)
MSE = mean_squared_error(y_test, X_pred)
RMSE = np.sqrt(MSE)
print(f'r2_score: {r2_score}, MAE: {MAE}, MSE: {MSE}, RMSE: {RMSE}')

r2_score: 0.6427789637197381, MAE: 2.8229401131313034, MSE: 13.179187940786743, RMSE: 3.6303151296804446

In [ ]:
 RMSE: 3.630315114753088